$primary-color: white;
$secondary-color: #dee2e6;

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
    color: $primary-color;
    padding: 40px 0;
}